<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AssignmentApp</display-name>
  
  
<servlet>

<servlet-name>reg</servlet-name>

<servlet-class>com.user.servlet.RegisterUser</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>reg</servlet-name>

<url-pattern>/registerUser</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>show</servlet-name>

<servlet-class>com.user.servlet.ShowUser</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>show</servlet-name>

<url-pattern>/showInfo</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>like</servlet-name>

<servlet-class>com.user.servlet.Like</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>like</servlet-name>

<url-pattern>/like</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>book</servlet-name>

<servlet-class>com.user.servlet.Book</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>book</servlet-name>

<url-pattern>/books</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>liked</servlet-name>

<servlet-class>com.user.servlet.LikedPage</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>liked</servlet-name>

<url-pattern>/likepage</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>later</servlet-name>

<servlet-class>com.user.servlet.Later</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>later</servlet-name>

<url-pattern>/later</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>laterpage</servlet-name>

<servlet-class>com.user.servlet.LaterPage</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>laterpage</servlet-name>

<url-pattern>/laterpage</url-pattern>

</servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>register-user.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>